.channel_meta_data {
  border: 1px solid gray;
  padding: 4px;

}


.channel_main {

  width: 100%;
  background-color: #FDFDFD;
}


.landing_main_banner{

  color: white;
  background-color: #2B3A5C;
  width: 100%;
  padding: 0px !important;
  text-align: center;

}

.channel_header {
  display: flex; 
  flex-direction: row;
  align-items: stretch;
  flex-wrap:wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}


.channel_title {

  display:inline-block;
 font-size: 2rem;
 margin-top: 100px;
}

.channel_image {
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
  
}

.channel_image img {
  width: 200px;  
}

.channel_rating {

  font-size: 25px;
  margin-top: 100px;
  max-width: 300px;

}

.channel_main_body {
  display: flex; 
  flex-direction: row;
  align-items: stretch;
  flex-wrap:wrap;
  justify-content: center;
  text-align: center;

}

.left_col {

  padding: 30px;
  width: 55%;
  max-width: 900px; 
}

.left_col_header {
  width: 55%;
  max-width: 900px; 
  display: flex; 
  flex-direction: row;
  align-items: stretch;
  flex-wrap:wrap;


}




 .channel_description {
  padding: 30px;
  font-size: 1rem;
  font-weight: 200;
  line-height: 28px !important;
  color: rgb(0, 0, 0) !important;
  text-align: left !important;
 }
 
 .channel_col_headers {
  text-align: left;
  font-weight: 800 !important;
  font-size: 20px;
 }

 .about {
  text-align: left;
  font-weight: 700;
  border-bottom-color: rgba(0, 0, 0, 0.05);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding: 20px;
 }

.right_col {
  width: 40%;
  position: relative;

  max-width: 300px;
 }

 .right_col_top_box {
 text-align: left;
  word-wrap: break-word;
  padding: 10px;
  margin-right: 20px;
  margin-top: 24px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 16px 0px;
  border-radius: 10px;
  background-color: #fff;
 }
 
 .add_rating_review {
    text-align: left;
    padding: 20px;

 }


@media screen and (max-width: 750px) {
  div.channel_header {
    flex-direction: column;
    flex-wrap:nowrap;
  }
  h2.channel_title {
   margin-top: 10px;
   margin-left: 0px;
  }

  .channel_image {
    padding-right: 0px;
  }


  div.left_col_header {
    flex-direction: column;
    flex-wrap:nowrap;
    width: 100%;
  }

  div.channel_rating {
    width: 100%;
    text-align: center;

    margin-top: 10px;
    padding-bottom: 20px;
    margin: auto;

  
  }



}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 900px) {


  div.left_col {
    width: 100%;
  }

  div.right_col {
    width: 95%;
    max-width: 900px;
  }

}


