fieldset {
  border: none;
}

.login-grid {
  display: grid;
  grid-template-columns: 100%;
  height: 80vh;
}

.LoginForm {
  margin: auto;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
  width: 95%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 3vw;
  padding-right: 3vw;
  max-width: 350px;
}

.form-input {
  margin: 10px 0;
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 30px;
  background-color: rgb(232, 240, 254); 
}

.form-label {
  display: block;
  text-align: left;
}

.login{ 
  margin-top: 100px;
}

h2, button {
  text-align: center;
}

.password_input {

  
}