body {
  margin: 0;
  font-family: Montserrat,Montserrat Light,Helvetica Neue,Helvetica,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
  word-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h3 {
  font-size: 34px;
  font-weight: 600;

}

*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #fefefe; 
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #2B3A5C; 
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #EF1362; 
}

.loading-spinner{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 20vw;
  color: #EF1362;
}

.button:disabled {
  opacity: 0.5;
}

.button:disabled:hover{
  color: inherit;
  background-color:inherit;
}

.form-error {
  border: 1px solid red;
  padding: 9px;
  background: pink;
  color: white;
  font-weight: bold;
}

li {
  list-style-type: none;
}