body {
  margin: 0;
  font-family: Montserrat,Montserrat Light,Helvetica Neue,Helvetica,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h3 {
  font-size: 34px;
  font-weight: 600;

}

*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #fefefe; 
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #2B3A5C; 
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #EF1362; 
}