body {
  margin: 0;
  font-family: Montserrat,Montserrat Light,Helvetica Neue,Helvetica,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h3 {
  font-size: 34px;
  font-weight: 600;

}

