.header {
  height: 13vh;
  background: black;
  color: white;
}

.header-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid black;
  background: black;
  color: white;
  position: sticky;
  top: 0;
}

.header-grid a {
  color: white;
}

.header-grid a:hover{
  color: #EF1362;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-right: 8px; */
  font-size: 15px;
}

.header-menu-link {
  display: inline;
  margin: 0 10px;
  font-size: 18px;
}

.header-menu-link a {
  margin-left: 8px;
  font-size: 20px;
}

header h1 {
  text-align: left;
  margin-left: 40%;
}

.nav-wrapper {
  display: block;
  text-align: right;
  margin: 0px;
  margin-right: 30%;
}

.register-link{
  color: white;
  font-size: 16px;
  padding: 6px;
 background-color: #EF1362;
}

.nav-username{
  vertical-align: bottom;
  width: 250px;
  font-size: 18px;
  text-align: right;
  margin-right: 5px;
}

@media screen and (max-width: 1050px) {
  header h1 {
    margin-left: 35%;
  }
  .nav-wrapper {
    margin-right: 25%;
  }
}

@media screen and (max-width: 900px) {
  .nav-username {
    width: 230px;
  }
  header h1 {
    margin-left: 30%;
  }
  .nav-wrapper {
    margin-right: 20%;
  }
}

@media screen and (max-width: 800px) {
  .nav-username {
    width: 220px;
  }
}

@media screen and (max-width: 750px) {
  .nav-username {
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  .nav-username {
    width: 175px;
  }
}

@media screen and (max-width: 650px) {
  .nav-username {
    width: 150px;
  }
}

@media screen and (max-width: 600px) {
  .nav-username {
    width: 120px;
  }
  header h1 {
    margin-left: 20%;
  }
  .nav-wrapper {
    margin-right: 15%;
  }
}

@media screen and (max-width: 550px) {
  .nav-username {
    width: 80px;
  }
}

@media screen and (max-width: 500px) {
  .nav-username {
    width: 30px;
  }
  header h1 {
    margin-left: 10%;
  }
  .nav-wrapper {
    margin-right: 10%;
  }
}

@media screen and (max-width: 350px) {
  .nav-username {
    width: 0px;
  }
}

.about_span {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  bottom: 5px;
  position: relative;
}

/* @media screen and (min-width: 1000px) {
  header h1 {
    margin-left: 40%;
  }
} */